.otp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.otp-container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 12px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  animation: fadeIn 0.5s ease-in-out;
  padding: 10px;
}

.otp-inputs {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.otp-box {
  width: 50px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
  background-color: white;
  color: black;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.otp-box:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}

.otp-box:focus-visible {
  caret-color: transparent;
}

.verify-button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  background: linear-gradient(135deg, #007bff, #0056b3);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease-in-out, transform 0.1s ease-in-out;
}

.verify-button:hover {
  background: linear-gradient(135deg, #0056b3, #004494);
  transform: scale(1.02);
}

#country_code {
  padding: 2%;
  border-radius: 10px;
  background-color: #d9d9d9;
  border: 1px solid #ccc;
}
